---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About me | Gash" description="About Gash">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="About me"
                tagline="Thanks for stopping by. Read below to learn more about myself and my background.">
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Obraz autorstwa macrovector na Freepik"
                />
            </Hero>

            <section>
                <h2 class="section-title">About me</h2>
                <div class="content">
                    <p>
                        Hello World! Let me introduce myself as Paweł Gasz, a
                        young and ambitious programmer who aspires to excel in
                        software development, especially in JavaScript. I
                        possess strong programming skills and continuously
                        strive for growth in this dynamic field.
                    </p>
                    <p>
                        My passion for IT started at an early age, and now as a
                        young aspiring programmer, I channel my energy and
                        enthusiasm towards creating innovative solutions using
                        JavaScript. This language not only serves as a tool for
                        my work but also inspires me to constantly improve in
                        building interactive and responsive websites and web
                        applications.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Experience</h2>
                <div class="content">
                    <p>
                        I have gained extensive experience working with
                        JavaScript, both in individual and team projects. My
                        skills encompass both front-end and back-end
                        development, including the utilization of frameworks
                        such as React and Node.js. My determination and
                        problem-solving abilities enable me to create software
                        that meets clients requirements and delivers value to
                        them.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Education</h2>
                <div class="content">
                    <p>
                        I am also open to learning and constantly seeking new
                        challenges. I actively participate in the programming
                        community by attending various meetings, conferences,
                        and workshops to stay up to date with the latest trends
                        and solutions in the field of programming.
                    </p>
                </div>
            </section>
            <section>
                <h2 class="section-title">Cooperation</h2>
                <div class="content">
                    <p>
                        Collaborating with me guarantees professionalism,
                        dedication, and creativity. My drive and constant
                        appetite for growth make me an ideal candidate for
                        projects that require fresh perspectives and innovative
                        solutions.
                    </p>
                    <p>
                        If you are in search of a young, talented JavaScript
                        programmer who will bring value to your team, then I am
                        the right choice. My passion for coding and technical
                        skills will ensure that the project we collaborate on
                        achieves success.
                    </p>

                    <p>
                        *Most of the text on this website was generated with
                        Open AI
                    </p>
                </div>
            </section>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    img {
        margin-top: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        section {
            display: contents;
            font-size: var(--text-lg);
        }
    }
</style>
